 <div class = "flex center spacer">
                <p class = "text-white fade tf-h1">colors</p>
                </div>
            <div class = "color-picker">
                <div class = "colorpicker-left">
                    <div class="color-parent">
                    <input type="color" value="rgb(var(--clr-main)" class="color-input">
                    </div>
                    <div class="color-parent">
                        <input type="color" class="color-input">
                    </div>
                    <div class="color-parent">
                        <input type="color" class="color-input">
                    </div>

                </div>
                <div class = "colorpicker-right">
                    
                </div>
            </div>

            <div class = "flex space-evenly">
                <p id="reset-colors-btn" class = "text-3rd-glow tf-h1">reset</button>
                <p id="save-colors-btn" class = "text-white-glow fade tf-h1">save</button>
                </div>