            <div class = "flex center spacer">
                <p class = "spacer text-white fade tf-h1" style="text-align:center;">sign up or log in to post</p>
                <button href="/login" class=" spacer text-white-glow tf-h1">Log in</button>
                <button href="/login#signup" class="spacer text-white-glow tf-h1">sign up</button>
            </div>