            {{!-- Sign up and Sign in --}}
            <div class = "flex center spacer">
                <p class = "spacer text-white fade tf-h1" style="text-align:center;">sign up or log in to post</p>
                <button id="login-btn" href="/login" class=" spacer text-white-glow tf-h1 cursor-pointer">Log in</button>
                <button id="signup-btn" href="/login#signup" class="spacer text-white-glow tf-h1 cursor-pointer">sign up</button>
            </div>
            <script src="assets/js/loginorsignup.js"></script>