<div class = "flex center spacer">
    <p class = "text-white fade tf-h1 new-post">New post</p>
</div>
<form class = "flex wrapper-none">
    <textarea class="text-input tf-p1 text-white fade" spellcheck="false" id="post-info" name="post-info" ></textarea>
</form>
{{!-- Delete post/ post btn --}}
<div class = "flex space-evenly">
    <button id="delete-btn" class="text-3rd-glow tf-h1 cursor-pointer">delete</button>
    <button id="post-btn" class="text-white-glow fade tf-h1 cursor-pointer">post</button>
</div>
{{!-- List of Topics --}}
<div class="flex center spacer" id="topic-list" style="display: none;">
    <p class="text-white fade tf-h1">attach a feeling</p>
    <div class="flex center spacer topic-browser">
        <p class="tf-p2 text-white-glow topic topic-left cursor-pointer">Happy</p>
        <p class="tf-p2 text-white-glow topic topic-left cursor-pointer">Sad</p>
        <p class="tf-p2 text-white-glow topic topic-left cursor-pointer">Anxious</p>
        <p class="tf-p2 text-white-glow topic topic-left cursor-pointer">Self Conscious</p>
        <p class="tf-p2 text-white-glow topic topic-left cursor-pointer">Hurt</p>
        <p class="tf-p2 text-white-glow topic topic-left cursor-pointer">Guilt</p>
        <p class="tf-p2 text-white-glow topic topic-left cursor-pointer">Scared</p>
        <p class="tf-p2 text-white-glow topic topic-left cursor-pointer">Anger</p>
    </div>
</div>
<script src="assets/js/create-post.js"></script>