            <div class = "flex center spacer">
                <p class = "text-white fade tf-h1 new-post">New post</p>
            </div>
            <form class = "flex wrapper-none">
            <textarea class="text-input text-white fade" spellcheck="false" id="post-info" name="post-info" ></textarea>
        </form>
            <div class = "flex space-evenly">
            <p class = "text-3rd-glow tf-h1 delete-post-btn">delete</button>
            <p class = "text-white-glow fade tf-h1">post</button>
            </div> 