{{!-- Own Post --}}
<div data-id="{{id}}" class = "post">
    <div class = "post-content">
        <p class = "tf-p2 text-white fade">{{text}}</p>
    </div>
    <div  class = "post-caption"> 
        {{#if ownPost}}
        <div class="icon-parent">
            <div class="icon edit edit-btn"></div>
            <div class="icon edit-focus edit-focus-btn"></div>
        </div>
        {{/if}}
    
        {{#if ownPost}}
        <div class="icon-parent">
            <div class="icon delete delete-btn"></div>
        </div>
        {{/if}}
    </div>  
</div>