<div data-id="{{id}}" class = "post">
    <div class = "post-content">
        <p class = "tf-p2 text-white fade">{{text}}</p>
    </div>
    <div class = "post-caption"> 
        {{post-icons}}
    </div>  
</div>