<div data-id="{{id}}" class = "post">
    <div class = "post-content">
        <p class = "tf-p2 text-white fade">{{text}}</p>
    </div>
    <div class = "post-caption">
    {{#if loggedIn}}
    
    {{#if ownPost}}
    <div class="icon-parent">
        <div class="icon edit edit-btn"></div>
    </div>
    <div class="icon-parent">
        <div class="icon edit-focus edit-focus-btn"></div>
    </div>
    {{/if}}
    
    
    {{#if ownPost}}
    <div class="icon-parent">
        <div class="icon delete delete-btn"></div>
    </div>
    {{/if}}
    
    
    {{#unless ownPost}}
    <div class="icon-parent">
        {{#if likedPost}}
        <div class="icon like-fill like-btn"></div>
        {{else}}
        <div class="icon like like-btn"></div>
        {{/if}}
    </div>
    {{/unless}}
    
    
    {{#unless ownPost}}
    <div class="icon-parent">
        <div class="icon hide hide-btn"></div>
    </div>
    {{/unless}}
    
    {{/if}}
    </div> 
</div>