<div class = "flex center spacer">
    <p class = "text-white fade tf-h1">topics</p>
    <div class = "flex center spacer topic-browser">
        <p class = "tf-p2 text-main topic topic-right">Happy</p>
        <p class = "tf-p2 text-main topic topic-right">Anxious</p>
        <p class = "tf-p2 text-main topic topic-right">Self Conscious</p>
        <p class = "tf-p2 text-main topic topic-right">Hurt</p>
        <p class = "tf-p2 text-main topic topic-right">Guilt</p>
        <p class = "tf-p2 text-main topic topic-right">Scared</p>
    </div>
</div>

<script src="/js/topic-filter.js"></script>