{{!-- Topics --}}
<div class = "flex center spacer">
    <p class = "text-white fade tf-h1">topics</p>
    <div class = "flex center spacer topic-browser">
        <p class = "tf-p2 text-main topic topic-right cursor-pointer">Happy</p>
        <p class = "tf-p2 text-main topic topic-right cursor-pointer">Anxious</p>
        <p class = "tf-p2 text-main topic topic-right cursor-pointer">Self Conscious</p>
        <p class = "tf-p2 text-main topic topic-right cursor-pointer">Hurt</p>
        <p class = "tf-p2 text-main topic topic-right cursor-pointer">Guilt</p>
        <p class = "tf-p2 text-main topic topic-right cursor-pointer">Scared</p>
        <p class = "tf-p2 text-main topic topic-right cursor-pointer">Anger</p>
    </div>
</div>

<script src="/js/topic-filter.js"></script>