<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spaced Out</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Inter:wght@500&family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <div class = "blurfilter flex wrapper-none"> 
        <a href="/" class = "blurh2 tf-header1">SPACEDOUT</a>
        <div class = "menu flex center">
            <p class = "text-main tf-h5 menu-item">menu</p>
            {{#if loggedIn}}
            <a id="logout" class="text-white-glow tf-h5 menu-item">logout</a>
            <a href="/dashboard" class = "text-white-glow tf-h5 menu-item">account</a>
            {{else}}
            <a href="/login#signup" class='text-white-glow tf-h5 menu-item'>Sign Up</a>
            <a href="/login" class='text-white-glow tf-h5 menu-item'>Login</a>
            {{/if}}
            <a href="/" class="text-white-glow tf-h5 menu-item">Support</a>
        </div>
    </div>
    <main>
        {{{ body }}}
    </main>
    <script type="module" src="/js/scene.js"></script>
      {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    <script src="/js/hidepost.js"></script>
    <script src="/js/delete-post.js"></script>
    <script src="/js/edit-post.js"></script>
      {{/if}}
</body>
 