<div class = "scroller"> 
    <div class = "flex wrapper-full banner">
    <p class = "text-white-glow tf-h5">UPDATE</p> <p class = "text-white-glow tf-h5">CREATE</p> <p class = "text-white-glow tf-h5">BROWSE</p>
    </div>

    <div class = "flex wrapper-full push-parent">
    {{#if loggedIn}}<div class = "sidebar" id="sidebar-left">
            <div class = "flex center spacer">
                <p class = "text-white fade tf-h1">New post</p>
            </div>
            <form class = "flex wrapper-none">
            <textarea id="post-textarea" class="text-input text-white fade" spellcheck="false"></textarea>
            <select name="categories" id="categories">
            <option value="anxiety">Anxiety Disorder</option>
            <option value="mood">Mood Disorder</option>
            <option value="personality">Personality Disorder</option>
            <option value="eating">Eating Disorder</option>
            </select>
        </form>
            <div class = "flex space-evenly">
            <p id="delete-btn" class = "text-3rd-glow tf-h1">delete</button>
            <p id="post-btn" class = "text-white-glow fade tf-h1">post</button>
            </div>
        </div>
    {{else}}
    <div class = "sidebar" id="sidebar-left">
        <div class="flex center spacer">
            <p class = "text-white fade tf-h1">Sign up or login to post! Steve please make this look good though, maybe a big button or something?</p>
        </div>
    </div>
    {{/if}}
    <div class = "pushbox">
        {{#each posts as |post|}}
        {{> singlepost post }}
        {{/each}}
    </div>
    <div class = "sidebar"></div>
    </div>
</div>
{{#if loggedIn}}
<script src="/js/create-post.js"></script>
{{/if}}