<div class = "scroller"> 
    <div class = "flex wrapper-full banner">
        <p class = "text-white-glow tf-h5">UPDATE</p> <p class = "text-white-glow tf-h5">CREATE</p> <p class = "text-white-glow tf-h5">BROWSE</p>
    </div>

    <div class = "flex wrapper-full push-parent">
    <div class = "sidebar" id="sidebar-left">
        {{#if loggedIn}}
        {{>newpost-sidebarinput}}
        {{else}}
        {{>login-or-signup}}
        {{/if}}
    </div>
    <div class = "pushbox">
        {{#each posts as |post|}}
        {{> singlepost post }}
        {{/each}}
    </div>
    <div class = "sidebar"></div>
    </div>
</div>