
  <div class="container">
        <div class="login-box">
            <div class="row">
                <div class="col-md-3 login-left">
                    <h2>Login Here</h2>
                    <form class="login-form">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" name="user" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
                <div class="cpl-md-3 login-right">
                    <h2>Register Here</h2>
                    <form class="signup-form">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" name="user" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                    </div>
                        </div>
           
<div class="container-2">
        <div class="writeup-box">
            <div class="row">
                    <div class="cpl-md-6 description" >
                        <h1>About Us</h1>
<section class="about-us">
    <p>“You don’t have to struggle in silence”</p>
<p>Spaced out is a safe space to openly talk about your feelings anonymously without being judged or identified.</p> 
<p>Mental health is important at every stage of life, from childhood and adolescence through adulthood. Talking about your feelings isn’t a sign of weakness, it’s a part of taking charge of your wellbeing and doing what you can to stay healthy. 
This app allows you to share your feelings and thoughts, with the aim of connecting to Other people anonymously , that in turn can relate or empathize and share their feelings with you - so you know you are not alone. 
Acknowledging and expressing your feelings Is important. Spaced out can be your safe place to journal and off load your thoughts.</p>
<p>Make talking about your feelings something you do for you.</p>
<p>Sign up for FREE today</p>
</section>
                    
 </div>
        </div>

<script src="/js/login.js"></script>