/*---------------*/
/* Custom Props  */
/*---------------*/

:root {
    --clr-main: 180, 194, 233 ;
    --clr-2nd: 196, 113, 237 ;
    --clr-3rd: 246, 79, 89 ;
    --clr-char: 44, 44, 44 ;
    --clr-blk: 0, 0, 0 ;
    --clr-wht: 245, 245, 245 ;

    --ff-l: 'Bellefair', serif;
    --ff-m: 'Bebas Neue', sans-serif;
    --ff-s: 'Inter', sans-serif;

    --fs-9: 7rem;
    --fs-8: 5rem;
    --fs-7: 3.5rem;
    --fs-6: 2rem;
    --fs-5: 1.75rem;
    --fs-4: 1.25rem;
    --fs-3: 1rem;
    --fs-2: 0.875rem;

    --ls-1: 1.8px; 
    --ls-2: 2.35px;
    --ls-3: 4.75px;
    --ls-4: 8px;

}

/*---------------*/
/* Reset         */
/*---------------*/

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    font-weight: 400;
}


body {
    line-height: 1.5;
    min-height: 100vh;
    font-family: var(--ff-s);
    position: relative;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/*---------------*/
/* Utilities     */
/*---------------*/

.flex {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.grid {
    display: grid;
    gap: 1rem;
}

.wrapper {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
    justify-content: space-between;
}

.wrapper-full {
    padding: 1em 2em 0;
    margin-inline: auto;
    justify-content: space-between;
    width: 100%;
}

.wrapper-none {
    margin-inline: auto;
    justify-content: space-between;
    width: 100%;
}

.spacer {
    margin: 1rem 0;
}

.center {
    justify-content: center;
}

.eventlimiter {
    height:fit-content;
    overflow: hidden;
}

.push-parent {
    min-height: 52vh;
    margin-bottom: 3em;
}


/*---------------*/
/* Colours       */
/*---------------*/

.bg-main {
    background-color:rgb( var(--clr-main));
}

.bg-2nd {
    background-color:rgb( var(--clr-2nd));
}

.bg-3rd {
    background-color:rgb( var(--clr-3rd));
}

.bg-black {
    background-color:rgb( var(--clr-blk));
}

.bg-char {
    background-color: rgb( var(--clr-char));
}

.text-main {
    color:rgb( var(--clr-main));
}

.text-2nd {
    color:rgb( var(--clr-2nd));
}

.text-3rd {
    color:rgb( var(--clr-3rd));
}

.text-black {
    color: rgb( var(--clr-blk));
}

.text-white {
    color: rgb( var(--clr-wht));
}


/*----------------------*/
/* Colour Components    */
/*----------------------*/

header {
    width: 100%;
    display:block;
    margin-bottom: 2em;
}

header h1 {background-color: rgb( var(--clr-char));
    color: rgb( var(--clr-wht));
    padding: 0.8rem 3rem;
    text-align: right;
    width:100%;
    display: block;
    font-family: var(ff-m);
  }

.fade {
    opacity: 0.5;
}

section {
    padding: 2rem;
    margin-bottom: 2rem;
}

.box-parent {
    width: 32%;
    flex-grow: 1;
}

.box {
    padding: 3rem 1rem 1rem;
}


.bar {
    padding: 3rem 1rem 1rem;
    width: 100%;
    background-image: linear-gradient(to right, rgb( var(--clr-main)) , rgb( var(--clr-2nd)), rgb( var(--clr-3rd)));
}

.colordisplay {
    margin: 1rem 0;
    padding: 3rem, 1rem, 1rem;
    border: rgb( var(--clr-wht)) solid 1px;
    box-shadow: 3px 3px 7px rgba( var(--clr-blk), 0.4);
}

.glassdisplay {
    margin: 1rem 0;
    padding: 3rem, 1rem, 1rem;
    border: solid 3px;
    border-radius: 5px;
    box-shadow: 3px 3px 7px rgba( var(--clr-blk), 0.4);
}

.bg-main-fade {
    background-image: linear-gradient(to right, rgba( var(--clr-main), 0.7 ) , rgba( var(--clr-main), 0.2));
    border-color:rgba( var(--clr-main), 0.1);
}

.bg-2nd-fade {
    background-image: linear-gradient(to right, rgba( var(--clr-2nd), 0.7 ) , rgba( var(--clr-2nd), 0.2));
    border-color:rgba( var(--clr-2nd), 0.1)
}

.bg-3rd-fade {
    background-image: linear-gradient(to right, rgba( var(--clr-3rd), 0.7 ) , rgba( var(--clr-3rd), 0.2));
    border-color:rgba( var(--clr-3rd), 0.1)
}

/*------------------------*/
/* Typeface Components    */
/*------------------------*/

.column {
    width: 49%;
    padding-inline: 1.5em;
    flex-grow: 1;
}

.sectiontitle-parent {
    width: 100%;
}

.tf-h1 {
    font-family:var(--ff-l);
    font-size:var(--fs-9);
}

.tf-h2 {
    font-family:var(--ff-l);
    font-size:var(--fs-8);
    letter-spacing: var(--ls-3);
    width: fit-content;
}

.tf-h3 {
    font-family:var(--ff-m);
    font-size:var(--fs-6);
    letter-spacing: var(--ls-2);
}

.tf-h4 {
    font-family:var(--ff-l);
    font-size:var(--fs-6);
    letter-spacing: var(--ls-4);
}

.tf-h5 {
    font-family:var(--ff-m);
    font-size:var(--fs-4);
    letter-spacing: var(--ls-1);
}

.tf-header1 {
    font-family:var(--ff-m);
    font-size:var(--fs-6);
    letter-spacing: var(--ls-4);    
}

.tf-p1 {
    font-family:var(--ff-s);
    font-size:var(--fs-3);
}

.tf-p2 {
    font-family:var(--ff-s);
    font-size:var(--fs-2);
    font-weight: 200;
    letter-spacing: var(--ls-1);
    line-height: 1.7;
}

.knockouth2 {
    width: fit-content;
    padding: 1rem;
    background: 
    linear-gradient(to right, rgb(var(--clr-main)), rgb(var(--clr-2nd)), rgb(var(--clr-3rd)));
    background-blend-mode: screen;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.text-white-glow {
    color: rgba( var(--clr-wht), 0.5);
    text-shadow: 0px 0px 10px rgba( var(--clr-wht), 0), 
                 0px 0px 5px rgba( var(--clr-blk), 0);
                 transition: 1s;
}

.text-white-glow:hover {
    color: rgba( var(--clr-wht), 0.7);
    text-shadow: 0px 0px 10px rgba( var(--clr-wht), 0.5), 
                 10px 10px 5px rgba( var(--clr-blk), 0.1);
                 transition: 1s;
}

/*-----------------------------*/
/* Component... components?    */
/*-----------------------------*/

.dashboard {
    margin-inline: auto;
    max-width: 75rem;
    height: 100vh;
    justify-content: space-between;
    background-image: url('file:///__dirname/../../designdocumentation/assets/space1.png');
    border-radius: 20px;
    overflow:hidden;
    background-position: center;
}

.blurfilter {
    width: 100%;
    height: 4em;
    backdrop-filter: blur(5px);
    background-image: linear-gradient(to right, rgba( var(--clr-main), 0.17 ) , rgba( var(--clr-2nd), 0.17 ) , rgba( var(--clr-3rd), 0.17 ) );
    box-shadow: 0px 15px 7px -7px rgba( var(--clr-blk), 0.4);
    position: fixed;
    top: 0;
    z-index: 6;
}

.blurh2 {
    width: fit-content;
    background: 
    linear-gradient(to left, rgb(var(--clr-main)), rgb(var(--clr-2nd)), rgb(var(--clr-3rd)));
    background-blend-mode: screen;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    line-height: 1.0;
    margin: .6em 1.5em;
}

.scroller {
    width: 80%;
    height: 70vh;
    background-image: linear-gradient(to bottom, rgba( var(--clr-main), 0.2 ) , rgba( var(--clr-main), 0.0));
    border: 2px solid rgba( var(--clr-main), 0.1);
    backdrop-filter: blur(3px);
    box-shadow: 0px 15px 7px -7px rgba( var(--clr-blk), 0.4),
                inset 10px 10px 20px 7px rgba( var(--clr-2nd), 0.03),
                inset -10px 10px 20px 7px rgba( var(--clr-3rd), 0.03);
    border-radius: 15px;
    margin: 5vh auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.sidebar {
    width: 20%;
}

.pushbox {
    width: 50%;
    background-image: linear-gradient(to bottom, rgba( var(--clr-blk), 0.5 ) , rgba( var(--clr-blk), 0.2));
    border-radius: 20px;
    background-position: center;
    overflow-y: scroll;
    max-height: 52vh;
    border: 2px inset rgba( var(--clr-main), 0.1);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    box-shadow: inset 0px 15px 7px 5px rgba( var(--clr-blk), 0.2),
    6px 10px 7px -5px rgba( var(--clr-2nd), 0.05),
    -6px 10px 7px -5px rgba( var(--clr-3rd), 0.05);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.pushbox::-webkit-scrollbar {
    display: none;
  }



.post {
    width: 94%;
    margin:1em auto;
    min-height: 15em;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba( var(--clr-main), 0.2 ) , rgba( var(--clr-main), 0.0));
    border: 2px solid rgba( var(--clr-main), 0.1);
    backdrop-filter: blur(3px);
}

.post-content {
    width: 94%;
    margin:1em auto;
    padding: 1em;
    min-height: 10em;
    border-radius: 20px;
    background: 
    radial-gradient( rgba( var(--clr-blk), 0.5), rgba( var(--clr-blk), 0.8) );
    border: 2px inset rgba( var(--clr-main), 0.1);
    box-shadow: inset 0px 15px 7px 5px rgba( var(--clr-blk), 0.05);
}

.post-caption {
    width: 94%;
    margin:1em auto;
    min-height: 3em;
    background: radial-gradient( rgba( var(--clr-blk), 0.5), rgba( var(--clr-blk), 0.8) ),
    linear-gradient(to right, rgba( var(--clr-3rd), 0.17 ) , rgba( var(--clr-2nd), 0.3 ) , rgba( var(--clr-3rd), 0.17 ) );
    border-radius: 3em;
}

.banner {
    height: fit-content;
    padding-inline: 3.2em;
    justify-content: space-around;
}

.menu {
    position: relative;
    background-color: rgba( var(--clr-blk), 0.5 );
    height: 2.6em;
    border-radius: 5px;
    margin: 0.7em 3em;
    min-width: 7em;
    overflow: hidden;
    top:0;
    display:flex;    
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 7;
    padding-inline: 1em;
    transition: 1s;

}

.menu:hover {
    height: 370%;
    z-index: 7;
    transition: 1s;
    background-color: rgba( var(--clr-blk), 0.8 );

}

.menu-item {
    margin: 0.5rem auto;
    width: 100%;
    text-align: center;
}