<div class = "post">
                <div class = "post-content">
                    <p class = "tf-p2 text-white fade"> {{post-content}} </p>
                </div>
                <div class = "post-caption"> {{post-icons}} {{post-edit-icons}}
                </div>  
            </div>