/*---------------*/
/* Custom Props  */
/*---------------*/

:root {
    --clr-main: 180, 194, 233 ;
    --clr-2nd: 196, 113, 237 ;
    --clr-3rd: 246, 79, 89 ;
    --clr-char: 44, 44, 44 ;
    --clr-blk: 0, 0, 0 ;
    --clr-wht: 245, 245, 245 ;

    --ff-l: 'Bellefair', serif;
    --ff-m: 'Bebas Neue', sans-serif;
    --ff-s: 'Inter', sans-serif;

    --fs-9: 7rem;
    --fs-8: 5rem;
    --fs-7: 3.5rem;
    --fs-6: 2rem;
    --fs-5: 1.75rem;
    --fs-4: 1.25rem;
    --fs-3: 1rem;
    --fs-2: 0.875rem;


}

/*---------------*/
/* Reset         */
/*---------------*/

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    font-weight: 400;
}


body {
    line-height: 1.5;
    min-height: 100vh;
    font-family: var(--ff-s);
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/*---------------*/
/* Utilities     */
/*---------------*/

.flex {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.grid {
    display: grid;
    gap: 1rem;
}

.wrapper {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
    justify-content: space-between;
}

.spacer {
    margin: 1rem 0;
}

/*---------------*/
/* Colours       */
/*---------------*/

.bg-main {
    background-color:rgb( var(--clr-main));
}

.bg-2nd {
    background-color:rgb( var(--clr-2nd));
}

.bg-3rd {
    background-color:rgb( var(--clr-3rd));
}

.bg-black {
    background-color:rgb( var(--clr-blk));
}

.bg-char {
    background-color: rgb( var(--clr-char));
}

.text-main {
    color:rgb( var(--clr-main));
}

.text-2nd {
    color:rgb( var(--clr-2nd));
}

.text-3rd {
    color:rgb( var(--clr-3rd));
}

.text-black {
    color: rgb( var(--clr-blk));
}

.text-white {
    color: rgb( var(--clr-wht));
}


/*---------------*/
/* Components    */
/*---------------*/

header {
    width: 100%;
    display:block;
    margin-bottom: 2em;
}

header h1 {background-color: rgb( var(--clr-char));
    color: rgb( var(--clr-wht));
    letter-spacing: 0.5rem;
    padding: 0.8rem 3rem;
    text-align: right;
    width:100%;
    display: block;
    font-family: var(--ff-m);
    font-size: var(--fs-6);
  }

.fade {
    opacity: 0.5;
}

section {
    padding: 2rem;
    margin-bottom: 2rem;
}

.box-parent {
    width: 32%;
}

.box {
    padding: 3rem 1rem 1rem;
}


.bar {
    padding: 3rem 1rem 1rem;
    width: 100%;
    background-image: linear-gradient(to right, rgb( var(--clr-main)) , rgb( var(--clr-2nd)), rgb( var(--clr-3rd)));
}

.colordisplay {
    margin: 1rem 0;
    padding: 3rem, 1rem, 1rem;
    border: whitesmoke solid 1px;
    box-shadow: 3px 3px 7px rgba(15, 15, 15, 0.5);
}

.glassdisplay {
    margin: 1rem 0;
    padding: 3rem, 1rem, 1rem;
    border: solid 3px;
    border-radius: 5px;
    box-shadow: 3px 3px 7px rgba(15, 15, 15, 0.5);
}

.bg-main-fade {
    background-image: linear-gradient(to right, rgba( var(--clr-main), 0.7 ) , rgba( var(--clr-main), 0.2));
    border-color:rgba( var(--clr-main), 0.1);
}

.bg-2nd-fade {
    background-image: linear-gradient(to right, rgba( var(--clr-2nd), 0.7 ) , rgba( var(--clr-2nd), 0.2));
    border-color:rgba( var(--clr-2nd), 0.1)
}

.bg-3rd-fade {
    background-image: linear-gradient(to right, rgba( var(--clr-3rd), 0.7 ) , rgba( var(--clr-3rd), 0.2));
    border-color:rgba( var(--clr-3rd), 0.1)
}

/*------------------------*/
/* Typeface Components    */
/*------------------------*/

.column {
    width: 49%;
    padding-inline: 1.5em;
}



.tf-example-h1 {
    font-family:var(--ff-l);
    font-size:var(--fs-9);
}

.tf-example-h2 {
    font-family:var(--ff-l);
    font-size:var(--fs-8);
}

.tf-example-h3 {
    font-family:var(--ff-m);
    font-size:var(--fs-6);
}

.tf-example-h4 {
    font-family:var(--ff-l);
    font-size:var(--fs-5);
}

.tf-example-h5 {
    font-family:var(--ff-m);
    font-size:var(--fs-4);
}

.knockouth2 {
    font-family: var(--ff-m);
    font-size: var(--fs-6);
    display: block;
    width: 100%;
    padding: 1rem;
    background: 
    linear-gradient(rgb(var(--clr-main)), rgb(var(--clr-2nd)),  rgb(var(--clr-3rd)));
    background-blend-mode: screen;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}