/*---------------*/
/* Custom Props  */
/*---------------*/

:root {
    --clr-main: 180, 194, 233 ;
    --clr-2nd: 196, 113, 237 ;
    --clr-3rd: 246, 79, 89 ;
    --clr-char: 44, 44, 44 ;
    --clr-blk: 0, 0, 0 ;
    --clr-wht: 245, 245, 245 ;

    --ff-l: 'Barlow Condensed', serif;
    --ff-m: 'Bebas Neue', sans-serif;
    --ff-s: 'Inter', sans-serif;

    --fs-9: 7rem;
    --fs-8: 5rem;
    --fs-7: 3.5rem;
    --fs-6: 2rem;
    --fs-5: 1.75rem;
    --fs-4: 1.25rem;
    --fs-3: 1rem;
    --fs-2: 0.875rem;

    --ls-1: 1.8px; 
    --ls-2: 2.35px;
    --ls-3: 4.75px;
    --ls-4: 8px;

}

/*---------------*/
/* Reset         */
/*---------------*/

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    font-weight: 400;
}


body {
    line-height: 1.5;
    min-height: 100vh;
    font-family: var(--ff-s);
    position: relative;
}


.login-box{
    height: 20em;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba( var(--clr-main), 0.2 ) , rgba( var(--clr-main), 0.0));
    border: 2px solid rgba( var(--clr-main), 0.1);
    backdrop-filter: blur(3px);
    margin: 15px auto;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    position: relative;
    top: 50%;
    transform: translate( 0%, -50%);
    scroll-snap-type: mandatory;
}

.login-box::-webkit-scrollbar {
    display: none;
  }

.writeup-box{
    margin: 2em auto;
    width: 85%;
    max-height: 85vh;
    display: flex;
    flex-direction: row;
    min-height: 50vh;
    backdrop-filter: blur(3px);
    border-radius: 15px;
    margin: 5vh auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.left{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%
}

.right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 38%;
}

.about-us{
    text-align: justify;
    text-indent: 1em;
    margin: 0 auto;
    width:100%;
}

.sign-up-form{
    padding: 1em;
}

/* Login */
.login-card {
    width: 90%;
    margin: 1em;
    padding: 0.5em 1em;
    min-height: 17.5em;
    border-radius: 20px;
    background: ß
    radial-gradient( rgba( var(--clr-blk), 0.5), rgba( var(--clr-blk), 0.8) );
    border: 2px inset rgba( var(--clr-main), 0.1);
    box-shadow: inset 0px 15px 7px 5px rgba( var(--clr-blk), 0.05);
    flex-grow: 1;
}

.form-group{
    width: 80%;
    position: relative;
    display: flex;
}

/*  Validation Shake */

.validation {
    position: absolute;
    top: 0.55rem;
    right: 0.7rem;
    opacity: 0;
    color: #fd4444;
}

@keyframes shake {
    0%, 100% {transform: translateX(0);}
    25% {transform: translateX(8px);}
    75% {transform: translateX(-8px);}
}

input:valid { border-color: #55d688; }
input:invalid { border-color: #fd4444; }
input:invalid ~ .validation {opacity: 1; }
input:invalid, input:invalid ~ .validation {
    animation: shake 0.1635s 0s 3;
}

.form-group input {
    width:100%;
    height: 2.2em;
    border-radius: 5px;
    background: 
    radial-gradient( rgba( var(--clr-blk), 0.5), rgba( var(--clr-blk), 0.8) );
    box-shadow: inset 0px 15px 7px 5px rgba( var(--clr-blk), 0.05);
    color: rgb( var(--clr-wht));
    padding: 0 0.5rem;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    border-radius: 0.25rem;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.modal-content {
    background-color: rgb(var(--clr-main));
    border: 2px inset rgba( var(--clr-main), 0.1);
    margin: 15% auto; /* 15% from the top and centered */
    border-radius: 1rem;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}
  
  /* The Close Button */
.close {
    color: none;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.form-group input:focus {  
    outline:none;
    border: 2px inset rgba( var(--clr-main), 0.1);
}

.form-control{
    background-color: transparent !important;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/*---------------*/
/* Utilities     */
/*---------------*/


.flex {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.flex-nogap {
    display: flex;
    flex-wrap: wrap;
}

.grid {
    display: grid;
    gap: 1rem;
}

.wrapper {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
    justify-content: space-between;
}

.wrapper-full {
    padding: 1em 2em 0;
    margin-inline: auto;
    justify-content: space-between;
    width: 100%;
}

.wrapper-none {
    margin-inline: auto;
    justify-content: space-between;
    width: 100%;
}

.spacer {
    margin: 1rem 0;
}

.center {
    justify-content: center;
}

.eventlimiter {
    height:fit-content;
    overflow: hidden;
}

.push-parent {
    min-height: 52vh;
    margin-bottom: 3em;
}

.space-evenly {
    justify-content:space-evenly;
}

.cursor-pointer{
    cursor: pointer;
}

/*---------------*/
/* Colours       */
/*---------------*/

.bg-main {
    background-color:rgb( var(--clr-main));
}

.bg-2nd {
    background-color:rgb( var(--clr-2nd));
}

.bg-3rd {
    background-color:rgb( var(--clr-3rd));
}

.bg-black {
    background-color:rgb( var(--clr-blk));
}

.bg-char {
    background-color: rgb( var(--clr-char));
}

.text-main {
    color:rgb( var(--clr-main));
}

.text-2nd {
    color:rgb( var(--clr-2nd));
}

.text-3rd {
    color:rgb( var(--clr-3rd));
}

.text-black {
    color: rgb( var(--clr-blk));
}

.text-white {
    color: rgb( var(--clr-wht));
}


/*----------------------*/
/* Colour Components    */
/*----------------------*/

header {
    width: 100%;
    display:block;
    margin-bottom: 2em;
}

header h1 {background-color: rgb( var(--clr-char));
    color: rgb( var(--clr-wht));
    padding: 0.8rem 3rem;
    text-align: right;
    width:100%;
    display: block;
    font-family: var(ff-m);
  }

.fade {
    opacity: 0.8;
}

section {
    padding: 2rem;
    margin-bottom: 2rem;
}

.box-parent {
    width: 32%;
    flex-grow: 1;
}

.box {
    padding: 3rem 1rem 1rem;
}


.bar {
    padding: 3rem 1rem 1rem;
    width: 100%;
    background-image: linear-gradient(to right, rgb( var(--clr-main)) , rgb( var(--clr-2nd)), rgb( var(--clr-3rd)));
}

.colordisplay {
    margin: 1rem 0;
    padding: 3rem, 1rem, 1rem;
    border: rgb( var(--clr-wht)) solid 1px;
    box-shadow: 3px 3px 7px rgba( var(--clr-blk), 0.4);
}

.glassdisplay {
    margin: 1rem 0;
    padding: 3rem, 1rem, 1rem;
    border: solid 3px;
    border-radius: 5px;
    box-shadow: 3px 3px 7px rgba( var(--clr-blk), 0.4);
}

.bg-main-fade {
    background-image: linear-gradient(to right, rgba( var(--clr-main), 0.7 ) , rgba( var(--clr-main), 0.2));
    border-color:rgba( var(--clr-main), 0.1);
}

.bg-2nd-fade {
    background-image: linear-gradient(to right, rgba( var(--clr-2nd), 0.7 ) , rgba( var(--clr-2nd), 0.2));
    border-color:rgba( var(--clr-2nd), 0.1)
}

.bg-3rd-fade {
    background-image: linear-gradient(to right, rgba( var(--clr-3rd), 0.7 ) , rgba( var(--clr-3rd), 0.2));
    border-color:rgba( var(--clr-3rd), 0.1)
}

.pushbox,
.post-content,
.text-input,
.post-caption
{
    backdrop-filter:blur(12px);
}

/*------------------------*/
/* Typeface Components    */
/*------------------------*/

.column {
    width: 49%;
    padding-inline: 1.5em;
    flex-grow: 1;
}

.sectiontitle-parent {
    width: 100%;
}

.tf-h1 {
    font-family:var(--ff-l);
    font-size:var(--fs-3);
    text-transform: uppercase;
    letter-spacing: var(--ls-2);
}

.tf-h2 {
    font-family:var(--ff-l);
    font-size:var(--fs-2);
    letter-spacing: var(--ls-3);
    -webkit-font-smoothing: none;
}

.tf-h3 {
    font-family:var(--ff-m);
    font-size:var(--fs-6);
    letter-spacing: var(--ls-2);
}

.tf-h4 {
    font-family:var(--ff-l);
    font-size:var(--fs-6);
    letter-spacing: var(--ls-4);
}

.tf-h5 {
    font-family:var(--ff-m);
    font-size:var(--fs-4);
    letter-spacing: var(--ls-1);
}

.tf-header1 {
    font-family:var(--ff-m);
    font-size:var(--fs-6);
    letter-spacing: var(--ls-4);    
}

.tf-p1 {
    font-family:var(--ff-s);
    font-size:var(--fs-3);
}

.tf-p2 {
    font-family:var(--ff-s);
    font-size:var(--fs-2);
    font-weight: 200;
    letter-spacing: var(--ls-1);
    line-height: 1.7;
}

.knockouth2 {
    width: fit-content;
    padding: 1rem;
    background: 
    linear-gradient(to right, rgb(var(--clr-main)), rgb(var(--clr-2nd)), rgb(var(--clr-3rd)));
    background-blend-mode: screen;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.text-white-glow {
    color: rgba( var(--clr-wht), 0.5);
    text-shadow: 0px 0px 10px rgba( var(--clr-wht), 0), 
                 0px 0px 5px rgba( var(--clr-blk), 0);
                 transition: 1s;
}

.text-white-glow:hover {
    color: rgba( var(--clr-wht), 0.7);
    text-shadow: 0px 0px 10px rgba( var(--clr-wht), 0.5), 
                 10px 10px 5px rgba( var(--clr-blk), 0.1);
                 transition: 1s;
}

.text-3rd-glow {
    color: rgba( var(--clr-3rd), 0.5);
    text-shadow: 0px 0px 10px rgba( var(--clr-3rd), 0), 
                 0px 0px 5px rgba( var(--clr-blk), 0);
                 transition: 1s;
}

.text-3rd-glow:hover {
    color: rgba( var(--clr-3rd), 0.7);
    text-shadow: 0px 0px 10px rgba( var(--clr-3rd), 0.5), 
                 10px 10px 5px rgba( var(--clr-blk), 0.1);
                 transition: 1s;
}

/*-----------------------------*/
/* Component... components?    */
/*-----------------------------*/

.dashboard {
    margin-inline: auto;
    max-width: 75rem;
    height: 100vh;
    justify-content: space-between;
    background-image: url('file:///__dirname/../../designdocumentation/assets/space1.png');
    border-radius: 20px;
    overflow:hidden;
    background-position: center;
}

.blurfilter {
    width: 100%;
    height: 4em;
    backdrop-filter: blur(5px);
    background-image: linear-gradient(to right, rgba( var(--clr-main), 0.17 ) , rgba( var(--clr-2nd), 0.17 ) , rgba( var(--clr-3rd), 0.17 ) );
    box-shadow: 0px 15px 7px -7px rgba( var(--clr-blk), 0.4);
    position: fixed;
    top: 0;
    z-index: 6;
}

.blurh2 {
    width: fit-content;
    background: 
    linear-gradient(to left, rgb(var(--clr-main)), rgb(var(--clr-2nd)), rgb(var(--clr-3rd)));
    background-blend-mode: screen;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    line-height: 1.0;
    margin: .6em 1.5em;
}

.bluraboutus {
    width: fit-content;
    height: fit-content;
    letter-spacing: 25px;
    line-height: 1em;
    background: 
    radial-gradient( rgb(var(--clr-main)), rgb(var(--clr-2nd)), rgb(var(--clr-3rd)));
    background-blend-mode: screen;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-60%, 0%) rotate(-90deg);
    
}

.scroller {
    width: 80%;
    height: 70vh;
    background-image: linear-gradient(to bottom, rgba( var(--clr-main), 0.2 ) , rgba( var(--clr-main), 0.0));
    border: 2px solid rgba( var(--clr-main), 0.1);
    backdrop-filter: blur(3px);
    box-shadow: 0px 15px 7px -7px rgba( var(--clr-blk), 0.4),
                inset 10px 10px 20px 7px rgba( var(--clr-2nd), 0.025),
                inset -10px 10px 20px 7px rgba( var(--clr-3rd), 0.025);
    border-radius: 15px;
    margin: 5vh auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.sidebar {
    width: 25%;
    margin: 0.5em 0;
    border: 2px inset rgba( var(--clr-main), 0.1);
    background: radial-gradient( rgba( var(--clr-blk), 0.4), rgba( var(--clr-blk), 0.7) ),
    linear-gradient(to bottom, rgba( var(--clr-main), 0.17 ) , rgba( var(--clr-2nd), 0.17 ) , rgba( var(--clr-3rd), 0.17 ) );
    border-radius: 2em;
    box-shadow: inset 0px 15px 7px 5px rgba( var(--clr-blk), 0.05);
}

.pushbox {
    width: 44%;
    background-image: linear-gradient(to bottom, rgba( var(--clr-blk), 0.5 ) , rgba( var(--clr-blk), 0.2));
    border-radius: 20px;
    background-position: center;
    overflow-y: scroll;
    max-height: 52vh;
    border: 2px inset rgba( var(--clr-main), 0.1);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    box-shadow: inset 0px 10px 7px 5px rgba( var(--clr-blk), 0.1),
    0px -15px 15px -15px rgba( var(--clr-blk), 0.2),
    6px 10px 7px -5px rgba( var(--clr-2nd), 0.025),
    -6px 10px 7px -5px rgba( var(--clr-3rd), 0.025);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.pushbox::-webkit-scrollbar {
    display: none;
  }

/* Post */
.post {
    width: 94%;
    margin:1em auto;
    min-height: 15em;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba( var(--clr-main), 0.2 ) , rgba( var(--clr-main), 0.0));
    border: 2px solid rgba( var(--clr-main), 0.1);
    backdrop-filter: blur(3px);
}

.post-content {
    width: 94%;
    margin:1em auto;
    padding: 0.5em 1em;
    min-height: 10em;
    border-radius: 20px;
    background: 
    radial-gradient( rgba( var(--clr-blk), 0.5), rgba( var(--clr-blk), 0.8) );
    border: 2px inset rgba( var(--clr-main), 0.1);
    box-shadow: inset 0px 15px 7px 5px rgba( var(--clr-blk), 0.05);
}

.post-caption {
    width: 94%;
    margin:1em auto;
    min-height: 3em;
    border: 2px inset rgba( var(--clr-main), 0.1);
    background: radial-gradient( rgba( var(--clr-blk), 0.4), rgba( var(--clr-blk), 0.7) ),
    linear-gradient(to right, rgba( var(--clr-main), 0.17 ) , rgba( var(--clr-2nd), 0.17 ) , rgba( var(--clr-main), 0.17 ) );
    border-radius: 3em;
    box-shadow: inset 0px 15px 7px 5px rgba( var(--clr-blk), 0.05);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text-input {
    width: 90%;
    margin:0em auto 1em;
    padding: 0.5em 0.8em;
    min-height: 12em;
    border-radius: 20px;
    background: 
    radial-gradient( rgba( var(--clr-blk), 0.5), rgba( var(--clr-blk), 0.8) );
    border: 2px inset rgba( var(--clr-main), 0.1);
    box-shadow: inset 0px 15px 7px 5px rgba( var(--clr-blk), 0.05);
    resize: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.text-input::-webkit-scrollbar {
    display: none;
  }

.text-input:focus {
    outline:none;
    border: 2px inset rgba( var(--clr-main), 0.1);
    
}

.topic-browser {
    overflow-y: scroll;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    height: 14em;
}

.topic-browser::-webkit-scrollbar {
    width: 0.25em;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba( var(--clr-2nd), 0.2);
    border-radius: 1em;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba( var(--clr-main), 0.5);
    transition: 0.5s;
    border-radius: 1em;
  }
  

.topic {
    width: 80%;
    color: rgba( var(--clr-2nd), 0.8 );
    text-indent: -1.8em;
    margin-left: 1.8em;

}

.banner {
    height: fit-content;
    padding-inline: 3.2em;
    justify-content: space-around;
}

.menu {
    position: relative;
    background-color: rgba( var(--clr-blk), 0.5 );
    height: 2.6em;
    border-radius: 5px;
    margin: 0.7em 3em;
    min-width: 7em;
    overflow: hidden;
    top:0;
    display:flex;    
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 7;
    padding-inline: 1em;
    transition: 1s;
}

.menu:hover {
    height: 370%;
    z-index: 7;
    transition: 1s;
    background-color: rgba( var(--clr-blk), 0.8 );
}

.menu-item {
    margin: 0.5rem auto;
    width: 100%;
    text-align: center;
}

.login-title {
    margin-top: 0.5em;
}

.login-form {
    width: 90%;
    min-height: 80%;
    padding-bottom: 1em;
}

button {
    width: 80%;
    height: 2.2em;
    border-radius: 5px;
    background-color: rgba( var(--clr-main), 0.2 );
    border: 2px solid rgba( var(--clr-main), 0.1);
    box-shadow: 0px 15px 7px 5px rgba( var(--clr-blk), 0.3);
}

.double-fade {
    opacity: 0.5;
}

/* Color Picker Selector */
.color-picker {
    width: 60%;
    margin:0em auto 1em;
    padding: 0.5em 0.8em;
    min-height: 12em;
    border-radius: 20px;
    display: flex;
}

.colorpicker-left {
    width: 50%;
    flex-grow: 1;
    min-height:11em;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.colorpicker-right {
    width: 3em;
    min-height: 11em;
    background: 
    linear-gradient( rgb(var(--clr-main)) 10%, rgb(var(--clr-2nd)), rgb(var(--clr-3rd)) 90% );
    border-radius: 9em;

}

.color-parent {
    width: 80%;
    margin: 0 auto;
    flex-grow:1;
    height: 31%;
    display:flex;
    justify-content: center;
    align-items: center;

}

.color-input {
    width: 2em;
    border: none;
    outline: none;
    border-radius: 50%;
    border: transparent;
}

.icon-parent {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background-image: radial-gradient( rgba( var(--clr-wht), 0.2), rgba( var(--clr-wht), 0.4) ) ;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
    box-shadow: 0px 10px 7px -5px rgba( var(--clr-blk), 0.5),
     inset 0px 10px 7px -5px rgba( var(--clr-wht), 0.5);    
}

.icon-parent:hover {
    transition: 0.25s;
    background-image: radial-gradient( rgba( var(--clr-wht), 0.4), rgba( var(--clr-wht), 0.7) ) ;
    box-shadow: 0px 10px 7px -5px rgba( var(--clr-blk), 0.5),
    inset 0px 10px 7px -5px rgba( var(--clr-wht), 0.5),
    0px 0px 10px rgba( var(--clr-wht), 0.5);
}

/* Like icon heat outline */
.like {
    background-image:
    url('/assets/img/icons/heart_outline.svg');
    background-size: contain;
    background-position:center;
}

/* Like icon filled heart */
.like-fill {
    background-image:
    url('/assets/img/icons/heart_fill.svg');
    background-size: contain;
    background-position: center;
}
/* Hide icon */
.hide {
    background-image:
    url('/assets/img/icons/hide.svg');
    background-size: contain;
    background-position:center;
}

/* Edit Icon */
.edit {    
    background-image:
    url('/assets/img/icons/message_writing.svg');
    background-size: contain;
    background-position:center;
}

.edit-focus {
    background-image:
    url('/assets/img/icons/message_check.svg'); 
    background-size: contain;
    background-position:center;
}

.edit:focus {
    background-image:
    url('/assets/img/icons/message_check.svg'); 
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
}

/* Delete Icon */
.delete {
    background-image:
    url('/assets/img/icons/message_close.svg');
    background-size: contain;
    background-position:center;
}

.icon {
    height: 85%;
    width: 85%;
}

.topic-input {
    background-image: radial-gradient( rgba( var(--clr-blk), 0.4), rgba( var(--clr-blk), 0.7) ) ;
    width: 100%;
    margin: 0 auto;
    color: rgb( var(--clr-wht));
}